.sidebar {
    width: 25%; /* Adjust the width as needed */
    background-color: grey;
    color: white;
    padding: 10px;
    position: sticky;
    top: 20px;
    align-self: flex-start;
}

.nuotraukos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

aside {
    background-color: grey;
    width: 100px;
	margin-left: 1000px;
}
#rightside {
    background: #FFF166;
    float: right;
    min-height: 500px;
    padding: 0 4px;
    width: 160px;
}
.nuotraukos img {
    max-width: 100%; /* Limit the width of the images within the div */
    height: auto; /* Maintain aspect ratio */
}